/* src/components/Timeline/Timeline.module.css */
.timeline {
    position: fixed;
    top: calc(100% - 80%);
    bottom: calc(100% - 95%);
    left: 50%;
    padding-left: 0.15rem;
    border-left: 2px solid transparent;
}

